$body-bg: rgb(223, 223, 255);
$primary: rgb(0, 0, 0);

@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";

$custom-theme-colors: (
    "btnSearch": rgb(102, 56, 202),
    "bodycolor": rgb(132, 182, 230)
);
$theme-colors: map-merge($theme-colors, $custom-theme-colors);

@import "./node_modules/bootstrap/scss/bootstrap";

.searchTerm{
    text-align: center; 
}
.spin{
    width: 40px;
}
.wrap{
    align-items: center;
}
.talata {
    color: tint-color($primary, 8%);
    font-size: large;
  }
  .a{
    font-weight: 600;
  }
  .icon{
    width: 30px;
  }